.main-footer {
    padding: 6rem 0;
    font-size: 1.4rem;

    a {
        color: #9DA2AF;
    }

    .main-logo {
        margin-bottom: 1.6rem;
    }

    .container {
        @media (min-width: $screen-md) {
            display: flex;
            justify-content: space-between;
        }
    }

    .cp-newsletter {
        @media (min-width: $screen-lg) {
            width: 500px;
        }

        @media (max-width: $screen-lg - 1px) {
            margin-top: 3.4rem;
        }
    }

    &__title {
        font-size: 1.4rem;
        margin-bottom: 0;
        line-height: 1.6;
    }

    &__item {
        margin-bottom: 1.6rem;
        @media (min-width: $screen-md) {
            margin-left: 8rem;
            margin-bottom: 0;
        }
    }

    &__infos {
        max-width: 400px;

        @media (max-width: $screen-md - 1px) {
            margin-bottom: 3rem;
        }
    }

    &__nav {
        @media (min-width: $screen-md) {
            display: flex; 
            justify-content: space-between;
        }
    }

    &__list {

        li {
            a {
                font-weight: 300;
            }
        }
    }
}