.nav-sub {
    @media (max-width: $screen-lg - 1px) {
        display: none;
        border-top: 1px solid #dce0e0;
        padding: 1.4rem 1rem;
    }

    @media (min-width: $screen-lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        background: rgba(242, 251, 254, 1);
        width: 920px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: 300ms all;
        z-index: 2000;
        padding: 2rem;
    }

    a {
        display: block;
        padding: 1rem;
        font-weight: 400;
        font-size: 1.2rem;

        &:before {
            content: '';
            border: solid $text-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2.1px;
            transform: rotate(-45deg);
            margin-right: 2rem;
        }

        @media (max-width: $screen-lg - 1px) {
            padding: 1.4rem 0 1.4rem 0;
        }

        &:hover {
            background: #e8e8e8;
        }
    }

    &__title {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 1.2rem;
        border-bottom: 0.5px solid #00AEEF;
        display: block;
        padding-bottom: 1.4rem;
        margin-bottom: 1.4rem;
    }

    &__col {
        @media (min-width: $screen-lg) {
            &:not(:last-child) {
                margin-right: 6rem;
            }
        }
    }

    &__item {
        margin-bottom: 1.6rem;
    }
}

.main-nav {
    position: relative;

    @media (min-width: $screen-lg) {
        display: flex;
    }

    @media (max-width: $screen-lg - 1px) {
        position: fixed;
        width: 84vw;
        height: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
        overflow: auto;
        z-index: 9000;
        transform: translateX(-100%);
        transition: 300ms all;
    }

    > li {
        position: relative;

        @media (max-width: $screen-lg - 1px) {
            border-bottom: 1px solid #dce0e0;
        }

        > a {
            font-size: 1.5rem;
            position: relative;
            letter-spacing: 1.25px;
            padding: 1.2rem;
            display: block;
            line-height: 30px;
            border-bottom: 4px solid transparent;

            // @media (max-width: $screen-lg - 1px) {
            //     background-color: #006e75;
            // }

            @media (min-width: $screen-lg) {
                line-height: 82px;
                display: flex;
                align-items: center;
                padding: 0 2.2rem;
            }
        }

        &.-sub {
            > a {
                &:after {
                    content: '';
                    display: block;
                    border: solid $text-color;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 2.3px;
                    transform: rotate(
            45deg
                );
                    margin-left: 1rem;
                    margin-bottom: 4px;

                    @media (max-width: $screen-lg - 1px) {
                        position: absolute;
                        right: 15px;
                        top: 23px;
                    }

                    @media (min-width: $screen-lg) {
                        margin-bottom: 3px;
                    }

                }

            }

            @media (max-width: $screen-lg - 1px) {

                &.-active {
                    .nav-sub {
                        display: block;
                        
                    }
                }

            }
        }

        &:hover {
            > a {
                background-color: rgba(54, 166, 215, 0.2);
                border-color: $primary-color;
            }
            .nav-sub {
                visibility: visible;
                opacity: 1;
            }
        }
    }

}

.header-nav {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: $screen-lg - 1px) {
        margin-right: 3rem;
    }
}

.main-logo {
    display: block;
}

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;

    a {
        color: inherit;
    }

    .main-logo {
    
        svg {
            fill: #006A95;
        }
    }

    .container {
        @media (min-width: $screen-lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .btn {
        font-size: 1.2rem;
        margin-left: 1.4rem;
        height: 3.2rem;
        line-height: 3.2rem;
        padding: 0 1rem;
        &.-border {
            @media (max-width: $screen-lg - 1px) {
                display: none;
            }   
        }

    }

    .phone-link {
        margin-right: 1.6rem;

        @media (max-width: $screen-lg - 1px) {
            font-size: 1.4rem;
        }
    }

    &__top {
        padding: 2rem 0;

        .container {
            @media (min-width: $screen-lg) {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__bottom {
        position: relative;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 44px rgba(0, 174, 239, 0.3);

        @media (max-width: $screen-lg - 1px) {
            padding: 1.4rem 0;
        }
    }
}

.top-menu {
    display: flex;
    font-size: 1.2rem;

    @media (max-width: $screen-lg - 1px) {
        margin-bottom: 1rem;
    }
    
    @media (min-width: $screen-lg) {
        margin-right: 4rem;
    }

    li {
        margin: 0 1rem;

        @media (min-width: $screen-lg) {
            margin: 0 3rem;
        }
    }
}

body {
    padding-top: 86px;
    &.-is-nav {
        overflow: hidden;
        .main-nav {
            transform: translateX(0);
        }

        .ham {
            > .item {
                position: absolute;
                width: 50%;
                top: 17px;
                left: 9px;
    
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: rotatey(90deg);
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}