html {
	filter: initial;
	font-size: 62.5%;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

body {
	filter: initial;
	background-color: #fff;
	color: $text-color;
	font-family: $font-base;
	font-size: 1.4em;
	font-weight: 400;
	line-height: $line-height-base;
	letter-spacing: 1.25px;

	@media (min-width: $screen-lg) {
		font-size: $font-size-base;
	}
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

img {
	max-width: 100%;
	display: block;
}

figure {
	display: block;
}
