/* ==========================================================================
   Forms
   ========================================================================== */

label {
	display: block;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
