/* ==========================================================================
   Tables
   ========================================================================== */

table {
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	text-align: left;
}

th {
	text-align: left;
}

table {
	border: 1px solid #babec7;
	th,
	td {
		line-height: 120%;
		vertical-align: top;
		font-size: 1.4rem;
		white-space: nowrap;
		padding: 0.8rem;
	}
	th {
		border-top: 0;
		font-weight: bold;
	}
	thead,
	tfoot {
		th,
		td {
			text-transform: uppercase;
			border-bottom: 1px solid #babec7;
		}
	}
	tfoot {
		tr {
			&:last-child {
				th,
				td {
					border-color: transparent;
				}
			}
		}

		td,
		th {
			&:last-child {
				text-align: center;
				width: 150px;
			}
		}
	}
	table {
		border: none;
		td,
		th {
			padding: 1rem;
		}
		tr {
			td,
			th {
				&:last-child {
					width: 150px;
					text-align: center;
				}
			}
			&:not(:last-child) {
				td,
				th {
					border-bottom: 1px solid #babec7;
				}
			}
		}
		tfoot {
			background: #e7ecf2;

			th,
			td {
				&:first-child {
					text-align: right;
				}
			}
		}
	}
}
