a {
	text-decoration: none;
	color: $secondary-color;

	&:hover {
		color: darken($secondary-color, 10%);
	}
}

p {
	margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-dest;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 1.6rem;
}

h1,
.h1 {
	font-size: 4.2rem;

	@media (min-width: $screen-md) {
		font-size: 5rem;
	}
}

h2,
.h2 {
	font-size: 3.2rem;

	@media (min-width: $screen-md) {
		font-size: 4rem;
	}
}

h3,
.h3 {
	font-size: 2.4rem;

	@media (min-width: $screen-md) {
		font-size: 3rem;
	}
}

h4,
.h4 {
	font-size: 1.6rem;

	@media (min-width: $screen-md) {
		font-size: 2rem;
	}
}

h5,
.h5 {
	font-size: 1.2rem;

	@media (min-width: $screen-md) {
		font-size: 1.6rem;
	}
}

h6,
.h6 {
	font-size: 0.8rem;

	@media (min-width: $screen-md) {
		font-size: 1.2rem;
	}
}

svg {
	max-width: 100%;
	max-height: 100%;
}

b,
strong {
	font-weight: bold;
}

ul,
ol {
	list-style: none;
}
