.list-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        margin-bottom: 30px;
        width: 100%;

        // &:not(.-featured) {
        //     width: 48%;
        // }

        .cp-card {
            &__meta {
                text-align: right;
                justify-content: flex-end;
            }
        }
    }
}