.home-banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $primary-color;
    height: 530px;
    color: #fff;
    text-align: center;
    position: relative;

    @media (min-width: $screen-lg) {
        height: 600px;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #009CA6;
        opacity: .5;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;
        position: relative;
    }

    &__desc {
        line-height: 1.8;
        font-weight: 500;

        @media (min-width: $screen-lg) {
            font-size: 1.6rem;
        }

        h2 {
            font-weight: 800;

            @media (min-width: $screen-lg) {
                font-size: 4rem;
            }
        }

        p {
            letter-spacing: 1.25px;
        }
    }
}

.home-solution {
    text-align: center;

    @media (min-width: $screen-md) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.home-testimonials {
    background: $primary-color;
    color: #fff;

    @media (min-width: $screen-md) {
        padding-top: 40rem;
        background: url('../svg/shape-home.svg') top left no-repeat;
    }

    .section-title {
        color: #fff;
    }
}

.home-contact {
	.panel {
		max-width: 680px;
		margin: 0 auto;
	}
}
