.page-none {
    min-height: 400px;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #eee;

    &__title {
        font-size: 6rem;
    }
}