.page-content {
	position: relative;

    &:before {
        content: '';
        position: absolute;
        top: -86px;
        right: 0;
        background: url('../images/bg-header-internal.svg') top right no-repeat;
        width: 851.28px;
        height: 879.88px
    }
    
    .cp-product {
        margin-bottom: 4rem;
        text-align: center;
    }

    &.-single {
        padding-top: 10rem;

        &:before {
            content: none;
        }
    }
}

.page-header {
	position: relative;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
    padding: 8rem 0;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 2.6rem;
        margin-bottom: 1.6rem;
        color: $primary-color;

        @media (min-width: $screen-lg) {
            font-size: 3.4rem;
        }
    }
}

.page-search {
    background-color: $primary-color;
    padding: 3rem 0;


    .container {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .cp-search {
        @media (min-width: $screen-lg) {
            width: 55%;
        }
    }
}

.page-wrap {
    position: relative;
    padding-bottom: 4rem;

    &.-fh {
        margin-bottom: 34rem;
    }

    @media (min-width: $screen-lg) {

        &.-with-sidebar {
            .container {
                display: grid;
                grid-template-columns: 1fr 460px;
                column-gap: 30px;
            }
        }

    }
}

.sidebar {
    &__item {
        margin-bottom: 5rem;
    }
    &__title {
        font-size: 2.2rem;
    }
}

.page-inner {
    @media (min-width: $screen-md) {
        .list-posts {
            &__item {
                &:not(.-featured) {
                    width: 48%;
                }
            }
        }
    }
}

