.block-txt {
	p {
		margin-bottom: 1.6rem;
	}
	img {
		margin-bottom: 1.6rem;

		&.-maxNone {
			max-width: none;
		}
	}
	ul,
	ol {
		margin-bottom: 1.6rem;
		li {
			margin-bottom: 0.4rem;
		}
	}
	ul {
		list-style: inside disc;

		&.style-none {
			list-style: none;
		}

		&.-inline {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			li {
				width: 50%;
			}
		}
	}
	ol {
		list-style: inside decimal;
	}

	.list-icon {
		list-style: none;
		li {
			position: relative;
			padding-left: 70px;

			&:not(:last-child) {
				margin-bottom: 4rem;
			}

			.svg-icon {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 2px solid #fff;
				padding: 0.7rem;
				position: absolute;
				left: 0;
			}
		}
	}

	&.-font-large {
		font-size: 2rem;
	}

	h2 {
		margin-bottom: 2.6rem;
	}
	h4 {
		margin-bottom: 3.6rem;
	}

	.list-style {
		list-style: none;
		li {
			position: relative;
			padding-left: 4rem;
			display: inline-block;

			&:before {
				content: '';
				display: block;
				background: linear-gradient(109.41deg, #ce1126 35.11%, #f98b5d 115.36%);
				border-radius: 4px;
				width: 22px;
				height: 22px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
