.block-content {
	padding: 3rem 0;
	position: relative;

	@media (min-width: $screen-lg) {
		padding: 6rem 0;
	}

	p {
		margin-bottom: 1.6rem;
	}

	img {
		margin-bottom: 1.6rem;

		&.-maxNone {
			max-width: none;
		}

		@media (max-width: $screen-md - 1px) {
			max-width: 100% !important;
		}
	}

	ul,
	ol {
		margin-bottom: 1.6rem;
		li {
			margin-bottom: 0.4rem;
		}
	}

	ul {
		list-style: inside disc;

		&.style-none {
			list-style: none;
		}

		&.-inline {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			@media (min-width: $screen-md) {
				li {
					width: 50%;
					margin-right: 0;
				}
			}
		}
	}

	ol {
		list-style: inside decimal;
	}

	.list-icon {
		list-style: none;

		h4 {
			margin-bottom: 1.6rem;

			&:after {
				content: none;
			}
		}

		li {
			position: relative;
			padding-left: 70px;

			&:not(:last-child) {
				margin-bottom: 4rem;
			}

			.svg-icon {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 2px solid #fff;
				padding: 0.7rem;
				position: absolute;
				left: 0;
			}
		}
	}

	h2, h3, h4, h5, h6 {
		&.bg {
			background-color: $primary-color;
			display: inline-block;
			color: #fff;
			padding: 5px 10px;
		}
	}

	h2 {
		margin-bottom: 3rem;
	}

	h3 {
		margin-bottom: 3rem;
	}

	h4 {
		margin-bottom: 2.4rem;
	}

	.wp-block-embed {
		margin-bottom: 1.6rem;
	}

	.wp-block-embed-youtube {
		max-width: 500px;

		.wp-block-embed__wrapper {
			position: relative;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		
			&:before {
				display: block;
				content: '';
				padding-top: 56.25%;
			}
		
			iframe {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
				transition: 300ms all;
			}
		}

	}

	.panel {
		background: #ffffff;
		border-top-left-radius: 24px;
		border-top-right-radius: 24px;
		padding: 4rem;

		h4 {
			margin-top: 1rem;
		}
	}

	&__row {
		@media (min-width: $screen-md) {
			display: flex;
			margin-left: -2rem;
			margin-right: -2rem;
		}

		.block-content {
			&__col {
				@media (max-width: $screen-md - 1px) {
					margin-bottom: 2.6rem;
				}

				@media (min-width: $screen-md) {
					padding: 0 2rem;

					&.-four {
						width: 33.33333333%;
					}
					&.-five {
						width: 41.66666667%;
					}
					&.-six {
						width: 50%;
					}
					&.-seven {
						width: 58.33333333%;
					}
					&.-eight {
						width: 66.66666667%;
					}
				}
			}
		}

		&.-align-center {
			align-items: center;
		}
		
		@media (max-width: $screen-sm - 1px) {
			&.-inverted-mobile {
				display: flex;
				flex-direction: column-reverse;
			}
		}

	}

	.font-large {
		font-size: 2rem;
	}

	&.text-center {
		h2 {
			&::after {
				margin: 0.6rem auto 0 auto;
			}
		}
	}

	.embed-video {
		margin-bottom: 3rem;
	}
}
