$input-bg-color: #fff;
$input-bd-color: $primary-color;;
$input-bd-color-focus: #777;
$input-bd-color-error: red;

.form-row {
	&.-inline {
		display: flex;
		margin: 0 -15px;
	}
	&.-right {
		justify-content: flex-end;
	}

	&.-panel {
		background-color: $primary-color;
		border-radius: 18px;
		padding: 1.5rem;
		margin-bottom: 2rem;

		.form-group {
			margin-bottom: 0;
		}

		label {
			color: #fff;
		}
	}
}

.form-message {
	font-size: 1.6rem;
	color: green;
	font-weight: 400;
	margin-bottom: 1.6rem;
	border: 1px solid green;
	padding: 0.6rem 1rem;
	border-radius: 5px;
}

.form-control {
	appearance: none;
	padding: 1rem 1.4rem;
	background-color: $input-bg-color;
	width: 100%;
	border: 1px solid $input-bd-color;
	color: $primary-color;
	font-size: 1.2rem;
	font-family: $font-base;
	border-radius: 5px;
	display: block;
	margin-bottom: 0.5rem;
	height: 4.5rem;

	&.error {
		border-color: $input-bd-color-error;
	}

	&:focus {
		border-color: $input-bd-color-focus;
	}
}

.form-group {
	margin-bottom: 1.6rem;

	.error {
		color: $input-bd-color-error;
		display: block;
	}

	label {
		font-weight: 600;
	}
}

select.form-control {
	background: #fff
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="rgb(0,0,0)" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')
		center right no-repeat;
	padding-right: 3rem;
}

textarea.form-control {
	min-height: 10rem;
	resize: vertical;
}

.form {
	position: relative;
	color: $text-color;
	font-size: 1.4rem;
	text-align: left;

	.btn {
		box-shadow: none !important;
	}
}

.form-check {
	margin-right: 5px;
}

.cp-form {
	background-color: #e7ecf2;
	padding: 3rem;
	border-radius: 24px;
	max-width: 720px;

	.form-control {
		border-color: transparent;
	}
}
