.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2rem;
	
	@media (min-width: $screen-lg) {
		width: 90%;
	}

	&.-full {
		max-width: 100%;
		width: 100%;
	}
}

.main-wrapper {
	position: relative;
	min-height: 400px;
}

.section {
	position: relative;
	overflow: hidden;
	padding: 4rem 0;

	@media (min-width: $screen-lg) {
		padding: 12rem 0;
	}

	&.-no-pd {
		padding-top: 0;
		padding-bottom: 0;
	}

	.section-box {
		padding: 4rem;

		@media (min-width: $screen-lg) {
			padding: 8rem;
		}
	}
}

.section-title {
	font-weight: 700;
	color: $primary-color;

	@media (max-width: $screen-lg - 1px) {
		font-size: 2.6rem;
		margin-bottom: 3rem;
	}

	span {
		display: block;
		font-weight: 500;
	}
}

.section-header {
	.section-title {
		margin-bottom: 6rem;
	}
}

.section-text {
	margin-bottom: 3rem;
}

.section-header {
	text-align: center;
	margin-bottom: 6rem;

	@media (min-width: $screen-lg) {
		font-size: 1.6rem;
	}
}

.border-image {
	background: url('../images/logo-border.png') center center no-repeat;
	overflow: hidden;
	padding: 2rem;
	position: relative;

	img {
		border-radius: 70px;
		margin: 0 auto;
	}
}

.rounded-image {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid $primary-color;
	display: inline-block;
	position: relative;

	@media (min-width: $screen-lg) {
	
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -80px;
			right: -78px;
			width: 412px;
			height: 552px;
			background: url('../svg/bg-rounded-image.svg') bottom right no-repeat;
		}

	}

	img {
		border-radius: 50%;
	}
}

.contact-list {
	li {
		display: flex;
		margin-bottom: 2rem;
		align-items: center;

		.svg-icon {
			width: 12px;
			height: 12px;
			margin-right: 1rem;
		}

		svg {
			fill: #fff;
		}

		a {
			color: #fff;
		}
	}
}

.social-links {
	display: flex;

	.svg-icon {
		width: 20px;
		height: 20px;

		svg {
			fill: $secondary-color;
		}
	}

	li {
		margin-right: .8rem;
	}
}

.model-view {
	display: flex;

	li {
		height: 24px;

		&:first-child {
			margin-right: 1rem;
		}
	}
}

.share-links {
	display: flex;

	li {
		width: 30px;
		height: 30px;
		border: 1px solid #545859;
		box-sizing: border-box;
		border-radius: 6px;
		margin: 0 .3rem;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}

		.svg-icon {
			width: 22px;
			height: 22px;

			svg {
				fill: #545859;
			}
		}
	}
}

.embed-video {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

	&:before {
		display: block;
		content: "";
		padding-top: 56.25%;
	}

	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.embed-maps {
	position: relative;
	height: 325px;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
}

.whats-box {
	position: relative;
	background-color: rgba(4, 127, 135, 1);
	color: #fff;
	display: flex;
	flex-wrap: wrap;

	&__name {
		background-color: rgba(0, 156, 166, 1);
		padding: 2rem;
		width: 100%;

		@media (min-width: $screen-lg) {
			width: 60%;
		}

		span {
			font-size: 1.4rem;
		}
	}

	&__action {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 2rem;

		@media (min-width: $screen-lg) {
			width: 40%;
		}
	}
}

.box-lettering {
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	font-size: 4rem;
	padding: 0 4rem;
	position: relative;

	@media (max-width: $screen-lg - 1px) {
		display: none;
	}

	img {
		position: relative;
	}
	
	h2 {
		text-shadow: -1px 0 rgba(250, 166, 26, 0.35), 0 1px rgba(250, 166, 26, 0.35), 1px 0 rgba(250, 166, 26, 0.35), 0 -1px rgba(250, 166, 26, 0.35);
		color: #fff;
		position: absolute;
		left: 0;
		top: 40%;
		z-index: -1;
	}
}

.block-catalog {
	background: url('../images/bg-catalog.png') center center no-repeat;
	background-size: cover;
	padding: 4rem 0;

	.container {
		display: flex;
		justify-content: flex-end;
	}
	
	.panel {
		max-width: 640px;
		font-size: 1.4rem;

		.btn {
			font-size: 1.4rem;
		}
	}

	.panel__title {
		margin-bottom: 1rem;
	}

	@media (max-width: $screen-lg - 1px) {
		.btn {
			display: block;
			
			&.-secondary {
				margin-bottom: 1rem;
			}
		}
	
	}
}

.body-home {
	position: relative;
}

.body-internal {
	.ham {
		> .item {
			background-color:$primary-color;
		}
	}
}

