.pagination {
	display: flex;

	.svg-icon {
		svg {
			fill: $primary-color;
			display: block;
		}
	}

	span, a {
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 .4rem;
		font-weight: 600;
	}

	span {
		background-color: $primary-color;
		color: #fff;
	}

	.prev {
		.svg-icon {
			transform: rotate(90deg);
		}
	}

	.next {
		.svg-icon {
			transform: rotate(-90deg);
		}
	}
}