.panel {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 4px 4px 44px rgba(0, 174, 239, 0.3);
    padding: 1.5rem;

    @media (min-width: $screen-lg) {
        padding: 3rem 5rem;
    }

    &__title {
        color: $primary-color;
        margin-bottom: 1.6rem;

        @media (min-width: $screen-lg) {
            margin-bottom: 3rem;
        }
    }

    &.-contact {
        max-width: 690px;

        .btn-group {
            margin-top: 3rem;
        }

        .btn {
            border-radius: 18px;
            height: 8rem;
            line-height: 8rem;
            max-width: 460px;
            margin: 0 auto;
        }
    }

    &.-center {
        margin: 0 auto;
    }
}