.table-compare {
    border: none;
    font-size: 1.4rem;
    margin-top: 12rem;
    th, td {
        border: none;
        color: #fff;
        text-align: center;
        padding: 1.6rem;
        position: relative;
        margin-bottom: 1.6rem;
        white-space: normal;
    }

    thead {
        tr {
            th {
                background-color: rgba(6, 18, 60, 1);
                padding-top: 4rem;

                &:first-child {
                    background-color: transparent;
                }
                

                &:nth-child(2) {
                    background-color: rgba(255, 181, 0, 1);
                }

                &:nth-child(3) {
                    background-color: rgba(125, 40, 67, 1);
                }

                img {
                    position: absolute;
                    top: -100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    tbody {
        tr {
            td, th {
                background-color: rgba(6, 18, 60, 0.8);

                &:first-child {
                    background-color: rgba(86, 86, 86, 0.2);
                    color: $text-color;
                }

                &:nth-child(2) {
                    background-color: rgba(255, 181, 0, 0.8);
                }

                &:nth-child(3) {
                    background-color: rgba(125, 40, 67, 0.8);
                }
            }
        }
    }
}

.wrap-table {
    overflow: auto;
}