// TYPOGRAPHY //

$font-base: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
	sans-serif;
$font-dest: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial',
sans-serif;
$font-size-base: 1.6em;
$line-height-base: 1.6;

// COLOS //

$primary-color: #2AAEE3;
$secondary-color: #F8B941;

$text-color: #020202;
$link-color: $secondary-color;

// BREAKPOINTS //

$screen-sm: 576px; // Extra small screen / phone
$screen-md: 768px; // Small screen / tablet
$screen-lg: 992px; // Medium screen / desktop
$screen-xl: 1200px; // Large screen / wide desktop
