.accordion {
    position: relative;

    &__header {
        border-radius: 11px;
        background-color: $primary-color;
        color: #fff;
        padding: 2rem;
        cursor: pointer;
        position: relative;

        &:after {
            content: '+';
            font-weight: 700;
            font-size: 3.4rem;
            position: absolute;
            right: 20px;
            z-index: 100;
            line-height: 1;
            top: 9px;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__content {
        display: none;
        padding: 3rem 0;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.6;

        ul {

        }

        li {
            a {
                color: #9DA2AF;
                display: block;
                padding: 1.4rem;
            }
            border-bottom: 0.5px solid rgba(54, 166, 215, 0.7);
        }
    }

    &__item {
        margin-bottom: 1rem;

        &.-open {
            .accordion {
                &__header {
                    &:after {
                        content: '-';
                    }
                    
                }
                &__content {
                    display: block;
                }
            }
        }
    }
}