$success-bg: #dff0d8;
$success-border: #d0e9c6;
$success-color: #3c763d;
$info-bg: #d9edf7;
$info-border: #bcdff1;
$info-color: #31708f;
$warning-bg: #fcf8e3;
$warning-border: #faf2cc;
$warning-color: #8a6d3b;
$error-bg: #f2dede;
$error-border: #ebcccc;
$error-color: #a94442;


.alert {
	padding: 1rem 1.6rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: 400;

	&.-success {
		background-color: $success-bg;
		border-color: $success-border;
		color: $success-color;
	}

	&.-info {
	    background-color: $info-bg;
	    border-color: $info-border;
	    color: $info-color;
	}

	&.-warning {
		background-color: $warning-bg;
		border-color: $warning-border;
		color: $warning-color;
	}

	&.-error {
		background-color: $error-bg;
		border-color:$error-border;
		color: $error-color;
	}
}