.badge {
    display: inline-block;
    color: #fff;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 5px;
    padding: .5rem .7rem;
    font-weight: 600;

    &.-primary {
        background-color: $primary-color;
    }

    &.-secondary {
        background-color: $secondary-color;
    }
}