/* ==========================================================================
   Buttons
   ========================================================================== */

$btn-primary-bg: $primary-color;
$btn-primary-color: #fff;
$btn-secondary-bg: $secondary-color;
$btn-secondary-color: #fff;
$btn-radius-size: 4px;
$btn-font-family: $font-base;
$btn-font-weight: 600;
$btn-border-color: $primary-color;
$btn-border-color-hover: $secondary-color;

a.btn,
button.btn,
.btn {
	appearance: none;
	display: inline-block;
	padding: 0 2.5rem;
	margin: 0;
	font-family: $btn-font-family;
	font-size: 1.4rem;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: $btn-font-weight;
	border-radius: $btn-radius-size;
	line-height: 1.25;
	cursor: pointer;
	transition: all 0.3s ease;
	border: 1px solid transparent;
	height: 4.5rem;
	line-height: 4.5rem;
	letter-spacing: 1.25px;

	&:hover {
		text-decoration: none;
	}

	&.-block {
		display: block;
	}

	&.-full {
		display: block;
		border-radius: 0px;
	}

	&.-center {
		display: table;
		margin: 0 auto;
	}

	&.-primary {
		background: $btn-primary-bg;
		border-color: $btn-primary-bg;
		color: #fff;
		
		&:hover {
			background-color: darken($btn-primary-bg, 5%);
		}
	}

	&.-secondary {
		background-color: $btn-secondary-bg;
		color: $btn-secondary-color;
		border-color: $btn-secondary-bg;

		&:hover {
			background-color: darken($btn-secondary-bg, 5%);
		}
	}

	&.-border {
		background-color: transparent;
		color: $btn-border-color;
		border-color: $btn-border-color;

		&:hover {
			background-color: $btn-border-color-hover;
			border-color: $btn-border-color-hover;
			color: #fff;
		}
	}

	&.-link {
		background-color: $link-color;
		color: #fff;
		border-color: $link-color;

		&:hover {
			background-color: darken($link-color, 5%);
		}
	}

	&.-linked {
		background-color: transparent;
		border-color: transparent;
		color: #fff;
	}

	&.-icon {
		display: flex;
		align-items: center;
		justify-content: center;

		.svg-icon {
			width: 18px;
			height: 18px;
			margin-right: 1rem;
		}
	}

	&[disabled] {
		cursor: default;
		opacity: 0.5;
	}
}

.btn-group {
	.btn {
		display: block;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}
}
