.cp-carousel {
    position: relative;

    &__item {
        margin: 0 4rem;
    }

    .slick-list {
        padding: 6rem 0;
    }

    .slick-arrow {
        top: auto;
        bottom: -20px;
    }

    .slick-prev {
        left: 50%;
        margin-left: -48px;
    }

    .slick-next {
        right: 50%;
        margin-right: -48px;
    }
}