.cp-list-group {
    position: relative;

    &__item {
        display: block;
        padding: 1rem 3rem;
        color: $primary-color;

        &:nth-child(odd) {
            background: rgba(0, 174, 239, 0.05);
        }

        &.-title {
            font-weight: bold;
        }
    }
}