.cp-plans {
    position: relative;
    text-align: center;
    padding: 5rem 3rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px 4px rgba(157, 162, 175, 0.3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    small {
        font-size: 1rem;
        color: #9DA2AF;
    }

    ul {
        list-style: none;  
        
        li {
            margin-bottom: 1rem;
        }
    }

    .btn {
        position: relative;

        small {
            display: block;
            line-height: 1;
            position: absolute;
            font-weight: normal;
            text-transform: none;
            left: 0;
            width: 100%;
            bottom: -15px;
        }
    }

    &__title {
        font-size: 2.4rem;
        color: $primary-color;
        margin-top: 1rem;
    }

    &__price {
        font-size: 2.4rem;
        color: $primary-color;
        padding: 2rem 0;
        line-height: 1.2;

        small {
            display: block;
        }
    }

    &__content {
        font-size: 2rem;
        color: #9DA2AF;
    }

    &__action {
        .btn {
            width: 49%;
        }
    }

}