.cp-timeline {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__wrapper {
        position: relative;
        width: calc(100% - 70px);
        padding-top: 6rem;
    }

    &__nav {
        width: 35px;
        position: relative;

        &:before {
            content: '';
            width: 2px;
            display: block;
            background-color: #000000;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1px;
            height: 100%;
        }

        span {
            display: block;
            width: 35px;
            height: 35px;       
            border-radius: 50%;
            background: #020202;
            position: relative;
            cursor: pointer;
            transition: 300ms all;

            &:not(:last-child) {
                margin-bottom: 8rem;
            }

            &.-active {
                background-color: $primary-color;
            }

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    &__item {
        

        &:not(.-active) {
            display: none;
        }
    }
}