.cp-search {
	position: relative;
	width: 100%;
	box-shadow: 0px 2px 35px rgba(21, 82, 199, 0.15);

	@media (min-width: $screen-lg) {
		width: 280px;
	}

	.form-control {
		border-color: $primary-color;
		margin-bottom: 0;
        border-radius: 10px;
        height: 3.2rem;
        padding: .6rem 1.4rem;
        font-size: 1.4rem;
	}

	.form-group {
		position: relative;
		margin-bottom: 0;
	}

	.btn {
		background-color: transparent;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 1.5rem;
		height: 100%;

		.svg-icon {
			width: 20px;
			height: 20px;
		}

        svg {
            fill: $primary-color;
        }
	}
}
