.cp-testimonials {
    position: relative;
    text-align: center;

    .slick-list {
    }

    &__item {
        color: $text-color;
        position: relative;
        background: #C3E4F3;
        border-radius: 11px;
        padding: 2rem;
    }

    &__avatar {
        border: 1px $primary-color dashed;
        padding: 5px;
        border-radius: 50%;
        overflow: hidden;
        width: 120px;
        height: 120px;
        position: absolute;
        left: 50%;
        top: -60px;
        margin-left: -60px;

        img {
            border-radius: 50%;
        }
    }

    &__author {
        font-weight: 700;
        text-transform: uppercase;
    }

    .slick-dots {
        button {
            height: 12px;
            width: 12px;
        }
    }

    .slick-arrow {
        top: auto;
        bottom: -20px;
    }

    .slick-prev {
        left: 46%;
    }

    .slick-next {
        right: 46%;
    }

    &.-vertical {
        .cp-testimonials {
            &__item {
                margin-bottom: 2rem;
            }
        }

        .slick-dots {
            display: block;
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            left: -40px;

            li {
                display: block;
                margin-bottom: .8rem;
            }

            button {
                margin: 0 auto;
            }
        }
    }
}