.cp-filter {
    position: relative;
    background-color: $primary-color;
    padding: 1rem;
    overflow: hidden;

    .form-row {
        @media (min-width: $screen-md) {
            display: flex;
        }
    }

    .form-control, .select-styled, .select2-container, .btn {
        width: 100%!important;
    }

    .form-group {
        @media (min-width: $screen-md) {
            width: 15%;
            margin-bottom: 0;

            &.-input {
                padding-right: 1.6rem;
            }

            &.-large {
                width: 40%;
            }

        }
    }

    &__other {
        overflow: hidden;
        max-height: 0px;
        transition: 400ms ease-in-out;

        .form-row {
            margin-top: 1rem;
        }
        .form-group {
            @media (min-width: $screen-md) {
                width: calc( 100% / 5);
            }
        }
    }

    &__check {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        label {
            color: #fff;
            font-size: 1.6rem;
            width: 50%;
            margin-bottom: 1.6rem;

            @media (min-width: $screen-md) {
                width: 25%;
            }
        }

        input {
            margin-right: 1rem;
        }
    }

    &.-all {
        .cp-filter {
            &__other {
                max-height: 500px;
                display: block;
            }
        }
    }
}