.cp-newsletter {
    &__input {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-group {
            &:first-child {
                width: calc( 100% - 130px );
            }
            
        }
    }
}