.cp-product {
    border-radius: 31px;
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(0, 174, 239, 0.3);
    overflow: hidden;

    a {
        color: inherit;
        display: block;

        &:hover {
            .cp-product {
                &__content {
                    background-color: $primary-color;
                    color: #fff;
                }

                &__action {
                    color: #fff;
                }
            }
        }
    }

    &__figure {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        font-size: 1.4rem;
        padding: 1.4rem 0;
    }

    &__action {
        padding-bottom: 2.4rem;
        color: $primary-color;
        position: relative;

        &:after {
            content: '';
            border: solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            position: absolute;
            left: 48%;
            bottom: 15px;
        }
    }
}