.cp-list {
    position: relative;
    text-align: left;

    li {
        position: relative;
        padding: 2.5rem;
        background: #FFFFFF;
        box-shadow: 0px 4px 44px rgba(0, 174, 239, 0.3);
        border-radius: 19px;
        margin-bottom: 6rem;
        padding-top: 6rem;
        
        @media (min-width: $screen-md) {
            padding-left: 8rem;
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 1.6rem;
            margin-bottom: .6rem;
        }

        p {
            font-size: 1.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            position: absolute;
            left: 50%;
            top: -38px;
            margin-left: -38px;

            @media (min-width: $screen-md) {
                left: -37px;
            }
        }
    }
}