.cp-card {
    display: block;
    color: inherit;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 4px 5px 1px rgba(157, 162, 175, 0.3);
    background-color: #fff;

    h3 {
        font-size: 1.8rem;
    }

    &__title {
        color: inherit;
        margin-bottom: 0;
    }

    &__figure {
        display: block;
        height: 260px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__header {
        position: relative;
    }

    &__meta {
        font-size: 1rem;
        color: #9DA2AF;
        display: flex;
        align-items: center;
    }

    &__content {
        padding: 1.6rem;
    }

    &__bottom {
        padding: 0 1.6rem 1.6rem 1.6rem;
    }
    
    &.-thumb {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 1.6rem;

        .cp-card {
            &__wrap {
                width: calc(100% - 100px);
            }
            &__figure {
                width: 90px;
                height: 90px;
            }
            &__meta {
                justify-content: flex-start;
            }
        }
    }

    .block-content {
        padding: 1.6rem;
    }
}

.cp-card-slider {
    .cp-card {
        margin: 0 1rem;
    }
}