.cp-tab-filter {
    position: relative;
    max-width: 990px;
    width: 90%;
    margin: 0 auto;
    margin-top: -80px;

    &__header {
        position: absolute;
        top: -45px;
        width: 100%;
        left: 0;
    }

    &__tab {
        display: flex;
        justify-content: center;


        a {
            display: block;
            padding: 1.5rem;
            background-color: $primary-color;
            color: #fff;
            font-weight: 600;
            border-radius: 3px;
            font-size: 1.4rem;
            margin: 0 .2rem;

            &.-active {
                background-color: #fff;
                color: inherit;
            }
        }
    }

    &__form {
        .form {
            @media (min-width: $screen-lg) {
                display: flex;
                justify-content: space-between;
            }
        }
        
        .form-group {
            width: 100%;

            @media (min-width: $screen-lg) {
                width: 19%;
                margin-bottom: 0;
            }

            &:last-child {
                padding-top: 2rem;
            }

            label {
                font-size: 1.2rem;
                letter-spacing: 1.25px;
            }

            .select2-container {
                width: 100%;
            }
        }

        .btn, select {
            width: 100%;
        }

        .form-control {
            margin-bottom: 0;
        }

    }

    &__content {
        padding: 3rem 4rem;
        position: relative;
        background-color: #fff;
        border-radius: 11px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &.-rent {
        .input-for-sell {
            display: none;
        }
    }

    &.-sell {
        .input-for-rent {
            display: none;
        }
    }
}