.cp-gallery {
    position: relative;

    &__view {

        .slick-slide {
            height: 300px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: $screen-lg) {
                height: 480px;
            }
        }

        .slick-prev {
            left: 20px;
        }

        .slick-next {
            right: 20px;
        }

        .slick-arrow {
            background-color: $primary-color;
            border-color: $primary-color;
            border-radius: 7px;

            &:before {
                color: #fff;
            }

            &:hover {
                background-color: #545859;
                border-color: #545859;
            }
        }
    }

    &__thumbs {
        display: flex;
        padding: 1rem 0;
        flex-wrap: wrap;
        list-style: none!important;

        li {
            cursor: pointer;
            width: calc( 100% / 3  - 10px);
            margin-bottom: 15px!important;
            background-color: #fff;
            padding: 1.4rem;
            height: 70px;
            box-shadow: 0px 4px 15px rgba(0, 174, 239, 0.25);

            &:not(:last-child) {
                margin-right: 15px;
            }

            @media (min-width: $screen-md) {
                width: calc( 100% / 6 - 10px);
                height: 90px;
            }

            img {
               max-height: 100%;
               margin: 0 auto;
            }
        }
    }

    @media (min-width: $screen-lg) {

        &.-vertical {
            .cp-gallery {
                &__thumbs {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 90px;
                    transform: translateY(-50%);
                    margin-bottom: 0;
                    padding: 0;
                    
                    li {
                        box-shadow: 0px 4px 15px rgba(0, 174, 239, 0.25);
                        width: 100%;

                        &:last-child {
                            margin-bottom: 0!important;
                        }
                    }
                }
            }

            .slick-arrow {
                right: 30px;
                left: auto;
                transform: none;
                border-radius: 50%;
                height: 30px;
                width: 30px;
            }

            .slick-prev {
                top: 0;
            }

            .slick-prev:before {
                transform: rotate(-134deg);
                right: 0;
                top: 2px;
            }

            .slick-next {
                bottom: 0;
                top: auto;
            }

            .slick-next:before {
                transform: rotate(45deg);
                left: 0;
                top: -1px;
            }
        }

    }
}