$ham-bg-color: transparent;
$ham-line-color: $primary-color;

.ham {
	background-color: $ham-bg-color;
	border: 0;
	width: 38px;
	height: 38px;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	padding: 1rem;

	@media (min-width: $screen-lg) {
		display: none;
	}
	> .item {
		display: block;
		width: 100%;
		height: 2px;
		background-color: $ham-line-color;
		margin-bottom: 0.4rem;
		transition: all 0.5s;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.-expand {
		> .item {
			position: absolute;
			top: 8px;
			left: 0;

			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				transform: rotatey(90deg);
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}
