@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: './fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: #fff !default;
$slick-dot-color: $primary-color !default;
$slick-dot-color-active: #ed3338 !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 35px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	} @else {
		@return url($slick-loader-path+$url);
	}
}

@function slick-font-url($url) {
	@if function-exists(font-url) {
		@return font-url($url);
	} @else {
		@return url($slick-font-path+$url);
	}
}

/* Slider */

// .slick-list {
//     .slick-loading & {
//         background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
//     }
// }

/* Icons */
// @if $slick-font-family == "slick" {
//     @font-face {
//         font-family: "slick";
//         src: slick-font-url("slick.eot");
//         src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
//         font-weight: normal;
//         font-style: normal;
//     }
// }

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: $secondary-color;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	border-radius: 50%;
	z-index: 1000;
	&:hover {
		&:not(.slick-disabled) {
			outline: none;
			background-color: $primary-color;
			&:before {
				opacity: $slick-opacity-on-hover;
			}
		}
	}
	&.slick-disabled {
		opacity: .3;
		cursor: default;
	}
	&:before {
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
		content: '';
		border-right: 2px solid;
		border-bottom: 2px solid;
		width: 10px;
		height: 10px;
		display: block;
	}
}

.slick-prev {
	left: 0;
	&:before {
		transform: rotate(134deg);
		margin: 0 auto;
		position: relative;
		right: -2px;
		[dir='rtl'] & {
			content: $slick-next-character;
		}
	}
}

.slick-next {
	right: 0;
	&:before {
		transform: rotate(-45deg);
		margin: 0 auto;
		position: relative;
		left: -2px;
		[dir='rtl'] & {
			content: $slick-prev-character;
		}
	}
}

/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 60px;
}

.slick-dots {
	position: absolute;
	bottom: -60px;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	left: 0;
	li {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		cursor: pointer;
		margin: 0 10px;
		button {
			border: 0;
			background: transparent;
			display: block;
			background: #545859;
			border-radius: 50%;
			height: 6px;
			width: 6px;
			outline: none;
			color: transparent;
			padding: 0;
			cursor: pointer;
			position: relative;
			&:hover,
			&:focus {
				outline: none;
			}
		}
		&.slick-active button {
			height: 12px;
			width: 12px;
			background: $primary-color;
		}
	}
}

.slick-custom {
	@media (min-width: $screen-md) {
		padding: 0 50px;
	}
}
