.ui-autocomplete {
	background-color: $primary-color;
	color: #fff;
	padding: 1rem 0;
	z-index: 99999;

	li {
		padding: 0.5rem 1.4rem;
		cursor: pointer;
		font-weight: 400;

		&:hover {
			background-color: #fff;
			color: $primary-color;
		}
	}
}

span input.ui-autocomplete-input {
	width: 100%;
}
