.bg-shape-elipse {
	background-color: #f2f7fa;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	@media (min-width: $screen-lg) {
		background-color: transparent;
		background-image: url('../svg/bg-shape-elipse.svg');
	}
}

.bg-bottom-elipse {
	
	background-repeat: no-repeat;
	background-position: bottom right;

	@media (min-width: $screen-lg) {
		background-image: url('../svg/shape-section-right.svg');
	}
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.text-color {
	color: $text-color;
}

.link-color {
	color: $link-color;
}

.bg-primary {
	background-color: $primary-color;
	color: #fff;

	.btn {
		&.-border {
			border-color: #fff;
			color: #fff;
		}
	}
}

.bg-secondary {
	background-color: $secondary-color;
	color: #fff;
}

.bg-text {
	background-color: $text-color;
	color: #fff;
}

.bg-link {
	background-color: $link-color;
	color: #fff;
}

.bg-brown {
	background: linear-gradient(180deg, #aaaaa9 0%, #92908e 100%);
	color: #fff;
}

.bg-blue-light {
	background: rgba(0, 106, 149, 0.1);
}

.bg-gray {
	background: #F8FBFF;
}

.bg-white {
	background-color: #fff;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mt-4 {
	margin-top: 4rem;
}

.mb-4 {
	margin-bottom: 4rem;
}

.mt-6 {
	margin-top: 6rem;
}

.mb-6 {
	margin-bottom: 6rem;
}

.invisible {
	visibility: hidden;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	&.-s16by9 {
		&:before {
			display: block;
			content: '';
			padding-bottom: 56.25%;
		}
	}
}

.text-center {
	text-align: center;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.hidden-md {
	@media (max-width: $screen-md - 1px) {
		display: none;
	}
}

.visible-md {
	@media (min-width: $screen-md) {
		display: none;
	}
}

